<div class="media vimeo" data-animation="fadeInUp">

	{% if include.file %}
		{% assign vimeo_path = include.file | replace: 'https://vimeo.com/', '' %}
		{% assign vimeo_parts = vimeo_path | split: '/' %}
		{% if vimeo_parts.size > 1 %}
			<iframe src="https://player.vimeo.com/video/{{ vimeo_parts[0] }}?h={{ vimeo_parts[1] }}&amp;title=0&amp;byline=0&amp;portrait=0&amp;color=eb2344" allowfullscreen></iframe>
		{% else %}
			<iframe src="https://player.vimeo.com/video/{{ vimeo_path }}?title=0&amp;byline=0&amp;portrait=0&amp;color=eb2344" allowfullscreen></iframe>
		{% endif %}
	{% endif %}

	{% if include.title or include.caption or include.link %}
		<div class="caption" data-animation="fadeInUp">
		  
		  {% if include.title %}
		  	<h4>{{ include.title }}</h4>
		  {% endif %}

		  {% if include.caption %}
		  	<p>{{ include.caption }}</p>
		  {% endif %}

		  {% if include.link %}
		  	<a href="{{ include.link }}" title="Visit Website" class="icon video">Visit Website</a>
		  {% endif %}

		</div>
	{% endif %}

</div>