{% if page.author or page.bio %}

  <div class="article-author">

    <div class="author-label">Written by</div>

    {% if page.author %}<h4>{{ page.author }}</h4>{% endif %}
    {% if page.bio %}<p>{{ page.bio }}</p>{% endif %}

    {% if page.twitter or page.github or page.facebook or page.linkedin %}
      <ul class="author-links">
        {% if page.twitter %}<li><a href="{{ page.twitter }}">X / Twitter</a></li>{% endif %}
        {% if page.github %}<li><a href="{{ page.github }}">GitHub</a></li>{% endif %}
        {% if page.facebook %}<li><a href="{{ page.facebook }}">Facebook</a></li>{% endif %}
        {% if page.linkedin %}<li><a href="{{ page.linkedin }}">LinkedIn</a></li>{% endif %}
        {% if page.flickr %}<li><a href="{{ page.flickr }}">Flickr</a></li>{% endif %}
      </ul>
    {% endif %}

  </div>

{% endif %}
